.kln{-webkit-text-fill-color: #0000;
    background: linear-gradient(168deg, #8cd3cb 7.37%, #3cadd5 25.38%, #14a6c5 42.56%, #38e2cb 60.52%);
-webkit-background-clip: text;
background-clip: text;
color: #0000;
font-size: 45px;
font-weight: 600;
}
.SummitDR{
    padding: 10px 15px;
    border-radius: 8px;
        
            background-color: #2f3a5b;
            color: #fff;
            outline: 0;
            border: 0;
            margin-top: 8px;
}

.wd{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    padding: 10px  15px;
    overflow: hidden !important
}
.polo{
            background: linear-gradient(180deg, #ffffff, #dadadc, #fafbfc);

}
.polo1{
    background-color: inherit;
}
.viB{
    letter-spacing: 0.5px;
        color: #1c1d20;
}
.MTEa{
    font-size: 24px;
}
.dw{
    width:100%;
    max-width: 700px;
    margin:50px auto 100px auto ;
    text-align: center;
    position: relative;
    z-index: 5;
}
.gg{
    color:#2f3a5b;
  
}
.LPE{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
}
.elope{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.JarB{
    min-height: 40px;
    font-size: 22px;
    font-weight: 500;
    color:#2f3a5b;
    text-align: center;
}
.SenR{
padding: 90px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid #d3dbe1;
    position: relative;
    background-color: #f6f6f6;
    overflow: hidden;
}
.SenR::after{
content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #c8ced3;
    top: -10px;
    filter: blur(29px);
    right: -20px;
    transform: rotate(109deg);
}
.SenR::before {
        content: "";
            width: 100px;
            height: 100px;
            position: absolute;
            background-color: #c8ced3;
            bottom: -10px;
            left: -20px;
            transform: rotate(109deg);
            filter: blur(40px);
}
.Nout{
font-size: 15px;
font-weight: 400;
color:#2f3a5b;
text-align: center;
position: relative;
z-index: 5;
}
.Map{
    display: grid;
    grid-template-columns: auto auto;
    gap:20px
}
.cePl{
        width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    background: #e8e9ea0d;
   
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #e9e9eb;
    color: #000;
    outline: 0;
    
}
.lUP{
    color:#2f3a5b;
    
}
.LabelD{
margin-bottom: 5px;
}
.hK{
        padding: 20px 10px;
    border: 1px solid #f8fdfea1;
    border-radius: 8px;
    margin-top: 15px;
    background: #f3f4f5;
    border-radius: 8px;
}
.XML{
    position: absolute;
    top: 142px;
    left: -83px;
    width:200px;
    height: 200px;
    z-index: 0;
    
}
.XML1{
    position: absolute;
    top: 294px;
    right: 0px;
    width: 200px;
    height: 200px;
    z-index: 0;
   
}

.textAr{
        width: 100%;
    min-height: 150px;
    border-radius: 5px;
    border: 1px solid #e9e9eb;
    background-color: #f3f4f5;
    margin-top: 20px;
    color: #fff;
}
@media (max-width:768px){
    .elope{
        grid-template-columns: auto;
    }
    .LPE{
font-size: 24px;
    }
    .SenR{
        padding: 90px 10px 30px 10px;
        border-radius: 15px
    }
                        .kln {
                            font-size: 30px;
                            line-height: 40px;
                        }
        .dw{
            margin: 18px auto 40px auto;
        }
        .tyred{
            font-size: 24px;
        }
        .Map{
grid-template-columns: auto;
gap:15px
        }
}