.GITMD{
    /* background-color: #141b2c; */

    padding: 20px 15px;
    color:#fff;
    margin-top: -213px;
    position: relative;
    z-index: 10;
}
.GITHD{
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
}
.DisDiv{
    display: flex;
    min-height: 300px;
    align-items: stretch;
    gap:20px;
    justify-content: space-between;
}
.ICH{
    color:#000;
}
.buTNum{
    margin-top: 10px;
    color:#2f3a5b;
}
.DivN{
    width:50%;
  
}
.DivN3{
border-radius: 8px;
min-height: 300px;
box-shadow: 0px 2px 6px 2px #858a9614;
padding:30px 15px 20px ;
text-align: center;
/* background-color: #1d22493b; */
        background: linear-gradient(150deg, #ecf2f3, #f4f6f9, #f4f5f8);
/* background: linear-gradient(150deg, #2d3451, #191f33, #080b18); */
    /* border: 1px solid #2d3451; */
  
}
.PSA{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    color:#000;
}
.helpYou{
        font-weight: 400;
            line-height: 28px;
            color: #2f3a5b;
            font-size: 15px;
}
.WUY{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
}
.ImageLinH{
    height: 300px;
    position: relative;
        /* margin-top: 80px; */
          
}
.ImageLinH1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgTeckI{
    width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    background-color: #2f3a5b59;
}
.GoTS{
        padding: 8px 15px;
    border-radius: 8px;
    background-color: #ecf2f3;
    width: 180px;
    margin: 10px auto 0 auto;
    color: #0f0e0e;
    border: 1px solid #108675;
}

@media(max-width:768px){
    .DivN {
            width: 100%;
        }

                .DisDiv {
                    flex-direction: column;
                }
                .GITMD{
 width:100%;
 max-width: 498px;
 margin-left: auto;
 margin-right: auto;
                }
}