.coverDC {
    width: 100%;
    max-width: 1100px;
    margin: 60px auto 0 auto;
}

.connectWithUs {
    font-size: 40px;
    margin-top: 10px;
    color:#ffffff;
}
.contcat{
    background: linear-gradient(180deg, #080b18, #080b18, #151b2d);
  
        padding:0 15px 20px 15px
      
}

.connectWithUs1 {
    font-weight: 600;
    color: #38e3cb;
    font-size: 32px;
    -webkit-text-fill-color: #0000;
        background: linear-gradient(168deg, #8cd3cb 7.37%, #3cadd5 25.38%, #14a6c5 42.56%, #38e2cb 60.52%);
        -webkit-background-clip: text;
        background-clip: text;
        color: #0000;
}

.contactFormD {
    display: flex;
}

.ddV {
    width: 60%;
}
.ddV5{
    width: 40%;
}

.ddV23 {
    width: 85%;
}
/* .bgCover{
    background-color: #2e5444;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;

    z-index: 10;
} */

.ifUs {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    color: #f1f1f1;
    margin-bottom: 15px;
}

.LabelCon {
    font-size: 14px;
    font-weight: 600;
    color:#ffffffb8;
    margin-bottom: 4px;
}

.inputsConnect {
    width: 100%;
    border: 0;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 16px;
    outline: 0;
    color: #fff;
   
        background:#121829;

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid #333957;
     
        
    margin-bottom: 12px;
}
.inputsConnect::placeholder {
    color: #888;
    /* Change this to your desired color */
    opacity: 0.3;
    /* Optional: Set opacity for better visibility */
}
.textF::placeholder {
    color: #888;
    /* Change this to your desired color */
    opacity: 0.3;
    /* Optional: Set opacity for better visibility */
}
.youCon {
    display: flex;

}

.youCon1 {
    width: 50%;
}

.youCon14 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.fdn   {
        padding: 10px;
            background: #151b2d;
            border-radius: 8px;
}

.visitLC {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color:#15604d
}

.textF {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    border: 0;
    padding: 10px 15px;
    outline: 0;
    color: #ffffff;
    background-color: #121829;
    border: 1px solid #333957;   
}

.lij {
    background-color: #2e5444;

}

.messA {
    color:#ffffff99;
    margin-bottom: 4px;
}

.SumbitConnect {
    width: 100%;
    padding: 8px 10px;
    border-radius: 60px;
    text-align: center;
        border: 1px solid rgb(51 57 87);
            margin: 20px 0 40px 0;
            background-color: #09101c;
    cursor: pointer;
    color:#fff;

}

.SumbitConnect:hover {
    background-color: #fff;
    color: #000
}

.graceDay {
    font-size: 28px;
    line-height: 1.6;
    color: #ffffff;
    font-weight: 400;
    margin: 15px 0;
}

.wedDis {
    color: #ffffff99;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.5px;

}

.deed {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    margin: 15px 0;
}

.noLike {
    margin-right: 5px;
    color: #28dd6d
}
.lLget{
    font-size: 24px;
    color:#fff;
}
.getLL{
    color:#9a9ca1;
    margin-bottom: 20px;
}

@media(max-width:768px) {
    .connectWithUs {
        font-size: 36px;
        margin-top: 5px;
        text-align: justify;
        /* padding: 2px 15px; */
    }

    .contactFormD {
        flex-direction: column-reverse;
    }
    .UUH{
        padding:20px 15px;
        border: 1px solid #151b2d;
background: linear-gradient(132deg, #151b2d 7.37%, #151b2d 25.38%, #131d2d 42.56%, #0e262d 60.52%);
        /* background: linear-gradient(168deg, #151b2d 7.37%, #151b2d 25.38%, #102c32 42.56%, #0d262d 60.52%); */
        border-radius: 10px;
        margin-bottom: 20px;
    }
.graceDay {
    font-size: 24px;
        margin: 15px 0 0px 0;
}
    .coverDiv17 {
        position: relative;
        top: 0;
        width: 100%;
        height: 10vh;
    }

    .ddV {
        width: 100%;
        padding: 2px 0px
    }

    .ddV23 {
        width: 100%;

    }

    .ifUs {
        text-align: justify;
    }

    .youCon {
        flex-direction: column;
    }

    .youCon1 {
        width: 100%;
    }

    .cll {
        margin-bottom: 8px;
    }

}