.faq-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 15px;
    font-family: Arial, sans-serif;
}
.Qaf{
background: linear-gradient(180deg, #080b18, #080b18, #141a2c);
}

.faq-item {
    border-bottom: 1px solid #212b4470;
    overflow: hidden;
    transition: all 5s ease;
   
}
.trmen{
    text-align: center;
        color: #fff;
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
}

.FaqQ {
    font-size: 1rem;
    color: #d5d7dd;
    line-height: 1.4rem;
    font-weight: 400;
}

.faq-question {
    /* background-color: #151b2d; */
    padding: 15px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

/* .faq-question:hover {
    background-color: #212b44;
} */

.faq-answer {
    padding: 15px 10px;
    color: #999a9f;
    transition: all 10s ease;
   
}
.fA{
font-size: 16px !important;
letter-spacing: 0.2px;
}
.fffA{
background: linear-gradient(360deg, #0b0e1d, #0a0d1b, #141a2c);
    /* background: linear-gradient(360deg, #080b18, #080b18, #141a2c); */
}
@media (max-width:768px){
    .fffA {
            /* background: linear-gradient(180deg, #080b18, #080b18, #0b0e1d); */
                    background: linear-gradient(180deg, #14192b, #080b18, #0b0e1d);
        }
           .fA {
               font-size: 14px !important;
           }
}