.footer ul {
    display: flex;
    justify-content: space-between;
}

.footerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 20px auto;
}

.footerHouse {
    text-align: center;
    padding: 40px 10px 10px 10px;
    background-color: #0a3228;
    /* background: linear-gradient(180deg, #064033, #0a3228, #0a3228); */
}

.pV {
    width: 72%
}

.linkMe {
    color: #cfe5d8;
}

.linkMe:hover {
    color: #fff;
}

.pV1 {
    width: 22%;
    border-left: 1px solid rgb(80, 201, 116);
    padding-left: 20px;
}

.icon_brand_size {
    color: #289b74;
    font-size: 22px;
}

.icon_brand_size:hover {
    color: #fff;
}

.ffr {
    color: #6baf96a6;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-top: 1px solid #226c67;
    padding: 16px 0;
}

@media(max-width:768px) {
    .footerDiv {
        flex-direction: column;
    }
    .footer ul{
        flex-direction: column;
    }

    .pV {
        width: 100%;
    }

    .pV1 {
        width: 50%;
        border: none;
        padding-left: 0px;
    }

    .fontUl {
        display: flex;
        justify-content: space-between;
        flex-direction: row !important;
        margin-top: 10px;
    }

    .ffr {
        border-top: 1px solid #19463b;
    }

    .LinkMeUl li {
        margin-bottom: 8px;
    }
}