:root {
    --p-color: #fff;
}

.footerF li a {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.boy2{
background-color: #0b0f1d;
/* background-color: #010a0d; */
}
.footerMainDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2px;
    max-width: 1200px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    margin: 0px auto 0 auto;
    /* background-color: #192034; */
    /* background-color: #1217288f; */
}
.fil4{
    border-top: 1px solid #0e1326;
    margin-top: 20px !important;
}
.fil5 {
    border-top: 1px solid #0e1326;
    margin-top: 20px !important;
    padding-top: 15px;

}
.footerHouse {
    width: 100%;
    height: 50px;
    background-color:#080b18;
   
}

.footerHouse2 {
    width: 100%;
    height: 10px;
    background-color: #080b18;
   
}

.Weg {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footerFo {
    width: 30%;
}

.Weg2 {
    color:#ffffff99;
    font-size: 16px;
    width: 100%;
    max-width: 80%;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.footerIconDivL {
background-color: #192034;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #192034;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e6ed;
}

.footerIconDivL:hover {
    background-color: #3c3b81;
    color: #fff;
}


.footerW {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 5px;
}

.subEmail {
    width: 100%;
    max-width: 1180px;
    margin: 0px auto 50px auto;
    padding: 40px 10px 40px 10px;
        /* background: conic-gradient(#080b18, #192034, #080b18, #191f33); */
            background: conic-gradient(#080b18, #0b1b25, #080b18, #0b1a24);
    border-radius: 10px;
    position: relative;

}

.misOut {
    font-size: 40px;
    text-align: center;
    color: #38e3cb;
    font-weight: 500;
    width: 100%;
    max-width: 60%;
    margin: 0 auto 15px auto;
    position: relative;
    z-index: 2;
   

}

.misOut1 {
    line-height: 22px;
    font-size: 16px;
    color: #38e2ca;
    margin-top: 10px;
    width: 100%;
    max-width: 80%;
    /* text-align: center; */
    position: relative;
    z-index: 2;
}


.FormPP {
    width: 100%;
    max-width: 100%;
    margin: 10px 0px 20px 0px;
    position: relative;
}

.HomeV {
    position: absolute;
    right: 20px;
    top: 20%;
    z-index: 2;
    color:#fff;
}

.yourEmail {
    /* border: 0;
    outline: 0;
    width: 100%;
    padding: 10px 38px 10px 18px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    position: relative;
    z-index: 2; */

    outline: 0;
        width: 100%;
        padding: 10px 50px 10px 18px;
        border-radius: 10px;
        background-color: #09111d;
        color: #d8cdcd;
        border: 1px solid #212b44;
        position: relative;
        z-index: 2;
        font-size: 14px;

}


.FooterHead {
    margin-bottom: 10px;
    margin-top: 5px;
    color: #fff
}

.footerF {
    display: flex;
    flex-direction: column;
 
}

.footerF li {
    padding: 4px 0px;
}

.footerBackgroundColor {
    
    background-color: #080b18;
        /* background-color: #000203; */
    padding: 10px 0 0px 0;
    position: relative;
}



.hot {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.fil{
    /* width:25%; */
    width: 50%;
}
.footerName {
    color: #8f9096;
    text-align: left;
    width: 54%;
    font-size: 14px;
    font-weight: 400;
}

.pin1 {
    padding-right: 0px !important;
}

.then {
    color: #ffffff99;
    font-size: 14px;
}

.then:hover {
    color: #fff;
}

.messageImg {
    position: absolute;
    left: 4%;
    bottom: 28%;
    width: 150px;
    z-index: 1;
}

.R1 {
    margin-bottom: 18px;
    margin-top: 10px;
    color: #ffffff;
}




.MobileT1 {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px 15px;
}

.MobileT {
    width: 50%;
    display: flex;
    flex-direction: column;
  
}

.mnm {
    color: #ffffff99;
        /* color: #a8a8cf; */
    text-decoration: none;
    line-height: 20px;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
}
.mnm4{
    color: #ffffff99;
    font-size: 14px;
    font-weight: 300;
        margin-bottom: 10px;
}

.boy {
    padding: 2px 10px;
}
.kil{
border-top: 1px solid #1e263c;
    margin-top: 15px;
    padding-top: 10px;
}
.um {
    width: 35px;
    height: 35px;

    border: 1px solid #2b3655;
}




@media (max-width:768px) {

    .footerMainDiv {
        flex-direction: column-reverse;
        padding: 30px 2px;
    }

    .footerW {
        flex-direction: column;
    }
    .misOut1{
        text-align: center;
    }

    .padG {
        padding: 2px 10px;
        margin-top: 0px;
    }



    .footerW {
        display: none;
    }

    .logoFooter {
        margin-bottom: 20px;
    }

    .footerName {
        width: 100%;
        margin-top: 15px;
        text-align: center;
        padding: 2px 5px;
        font-size: 13px;
    }

    .subEmail {
        padding: 40px 10px 40px 10px;
        overflow: hidden;
        display:none;
    }

    .messageImg {

        left: -17%;
        bottom: -17%;

        z-index: 0;
    }

    .pin {
        border-right: none;
    }

    .footerHouse {
        height: 20px;
    }


    .footerHouse2 {
        height: 15px
    }

    .misOut {
        max-width: 98%;
        font-size: 20px;
    }

    .misOut1 {
        max-width: 100%;
    }

    .piki {
        width: 100%
    }

}

@media (min-width:769px) {
    .MobileT1 {
        display: none;
    }
        .fil5 {
            border-top: none !important;
            margin-top: 0px !important;}

    .pagG,
    .subEmail {
        display: none;
    }
}

@media (min-width:769px) and (max-width:1040px) {
    .footerW {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2px 10px;
    }

    .footerFo {
        width: 90%;
    }

    .misOut1 {
        text-align: left;
    }

    .facPadding {
        padding: 2px 10px !important;
    }
}