.get-started {
    padding: 40px;
    /* background-color: #080b18; */
    /* Slightly different gray for a financial theme */
    text-align: center;
    position: relative;
        margin-top: 50px;
            margin-bottom: 20px;
}
.ghgh{
    background: linear-gradient(180deg, #080b18, #080b18, #080b18);
    margin-bottom: 0;
}

.title {
font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4px;
    color: #38e3cb;
    margin-top: 30px;
    letter-spacing: 1px;
}
.getS{
    font-size: 16px;
}


.steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    max-width: 1100px;
    margin:0 auto
}
.steps1{
    max-width: 1200px;
}

.step {
    /* background: #fff; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

.icon {
    font-size: 3rem;
    color: #28a745;
    /* Green to represent financial growth */
    margin-bottom: 10px;
}

.step-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.step-title1{
 min-height: 30px;
 font-size: 18px;
}

.step-description {
    font-size: 1rem;
    color: #999a9f;
}
.bmLi{
    width:80px;
    min-height: 60px;
    margin: 10px auto 20px auto;
}
.ggj{
    color:#38e3cb;
    /* width:100%; */
    font-size: 40px;
}
.follow{
    margin-bottom: 60px;
    color:#f4f4f5;
}
.blur{
    width:150px;
    height:200px;
    border-radius: 50%;
    /* background-color:#36dfc7; */
    position: absolute;
    top:0;
    left: 50%;
    /* filter: blur(164px); */
    opacity: 0.7;

}
@media(max-width:768px){
    .get-started {
            padding:10px !important;
        }
                .title {
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin-bottom: 12px;
                 
                    margin-top: 30px;
                }
        .steps {
           
            flex-direction: column;
            width: 100%;
        }

                .follow {
                    margin-bottom: 15px;
                   
                }
.step{
    padding: 20px;
        margin: 10px 0px;
            width: 100%;
                }
                .addHo1{
                flex-direction: column;
                }

                                .step-description {
                                  
                                    max-width: 490px;
                                    margin: 0 auto;
                                }
}