ul li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: #fff; */

}

.Brand {
    font-size: 16px !important;
    font-weight: 600;

}

.AMAd {
    color: #fff;
    font-family: "Sofia", cursive;
}
.Sapap {

    /* background-color: #0d0740; */
    position: absolute;
    width: 100%;
    z-index: 7000;


}

.subCap {
box-shadow: rgb(8 11 24) 14px -1px 6px -1px, rgb(18 24 40) 0px 2px 4px -1px;
    background-color:#080b187a;
   
    position: fixed;
    width: 100%;
    opacity: 1;
    -webkit-backdrop-filter: blur(calc(0.5rem* 1));

    top: 0;
    left:0;
    z-index: 7000;
    /* padding:0 10px; */
        backdrop-filter: blur(calc(0.5rem* 1));
}


.relativeD {
    position: relative;
    z-index: 5;
}

.cap {
    color: #fff;
}

.header {
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5000;


}

.headerLogo {
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* .NowB{
    border:0;
    outline:0;
    color:blue
} */

.explore {
    position: relative !important;
    cursor: pointer;

}

.navbarDropD {
    position: absolute;
    width: 100%;
    top: 50px;
    max-width: 700px;
    left: 50%;
    right: 50%;
    height: 300px;
    background-color: #2f2f45;
    transform: translate(-50%, 0%);
    z-index: 20;



}

/* .explore:hover ~.navbarDropD{
    display:block;
} */


.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-top: 2px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 400;
}

.nacBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavbarUl {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px
}

.navbarLoginButton {
    padding: 12px 15px;
    border-radius: 5px;
}

.NavbarUl li a {
    font-size: 15px;
    font-weight: 500;
    /* text-decoration: none; */
}

/* .NavbarUl li a:hover {
    text-decoration: underline;
} */

.navbar1_link {
    color: #ffffffd1;

    font-weight: 500;
    border-radius: 0.5rem;
    margin-left: 0.75rem;
    padding: 0.5rem 1rem;
    transition: all .3s;
    display: flex;
}

@media (max-width:768px) {

    .nacBar,
    .NavbarUl {
        display: none;
    }

    .headerDivFle {
        display: flex;
        flex-direction: column-reverse;

    }
}