.ExSucc{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:10px 15px;
}
.ExSucc1{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:15px
}
.ExSucc3{
 text-align: center;
 color:#2f3a5b;
 font-size: 24px;
 font-weight: 600;
 margin-top: 40px;
}
.LHO{
    text-align: center;
    color:#2f3a5b;
    font-size: 16px;
    margin-bottom: 80px;
}
.MCST{
    font-size: 22px;
    color:#2f3a5b;
    margin: 20px 0;
    font-weight:600
}
.poky1{
    font-size: 14px;
    color:#2f3a5b;
}
.poky{
    color: green;
    font-size: 16px;
    margin-bottom: 20px;
    
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    cursor: pointer;
    width:30px;
    height: 30px;
    padding: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.page-item.active .page-link {
    background-color: #2e756d;
    border: 1px solid #2e756d;
    color: white;
}
.PageNMe{
    padding:20px 0;
}
@media(max-width:570px){
.ExSucc1{
grid-template-columns: auto 
}
}

@media(min-width:571px) and (max-width:768px) {
    .ExSucc1{
        grid-template-columns: auto auto
    }
}