body{
    background-color: #080b18;
     overflow-x: hidden;
        
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
        font-optical-sizing: auto;
      
        font-style: normal;
        font-size: 16px;
}
.App{
 


overflow-x: hidden;
/* background-color: #080b18; */
}